.header {
  @include d-flex(space-between, center);
  padding: 0 40px;
  height: 100px;
  border-bottom: 1px solid $border-color;

  .logo {
    @include heading(48px);
  }

  .nav > ul {
    @include d-flex;

    li {
      margin: 0 5px;
    }
  }
}
