.main {
  height: calc(100vh - 100px);
  @include d-flex;

  .form {
    padding: 40px;
    width: 500px;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;

    h2 {
      color: $white;
      @include heading(32px);
      text-align: center;
    }

    .field {
      @include d-flex(flex-start, flex-start);
      flex-direction: column;
      margin: 20px 0;

      input {
        width: 100%;
        margin-top: 20px;
        border-bottom: 1px solid $border-color;
        color: $white;
      }

      label {
        @include heading(18px);
      }
    }
  }
}
