@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin d-flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
